<section class="sassy-modal modal">
    <div class="container">

        <div class="content">
            <div class="content__head">
                <h2 class="content__title heading-2">About Page</h2>
            </div>
            <div class="content__body">
                Lorem consectetur aspernatur maiores cupiditate dicta nulla omnis Tempora
                veritatis tempora quis deleniti cum Ad adipisci cum deleniti ratione hic,
                recusandae quo? Totam ullam eius assumenda ab doloremque possimus nam
            </div>
        </div>

    </div>
</section>
